<!DOCTYPE html>
<html>
  <head>
    <title>Trend Tweet | Login</title>
    <link rel='stylesheet' href='http://bootswatch.com/yeti/bootstrap.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='container' id='login-container'>
      <h1>Trend Tweet</h1>
      <a href="<%= link %>">Log In With Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </body>
</html>
