<!DOCTYPE html>
<html>
  <head>
    <title>Trend Tweet | Login</title>
    <link rel='stylesheet' href='http://bootswatch.com/yeti/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trend Tweet</h1>
    <a href="<%= link %>">Log In With Twitter</a>
  </body>
</html>
